{% extends 'base.html' %}

{% block title %}حذف پرداخت{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-8 col-sm-10 mx-auto">
            <div class="card" dir="rtl">
                <div class="card-header bg-danger text-white text-center">
                    <h3>حذف پرداخت</h3>
                </div>
                <div class="card-body text-right">
                    <h4>آیا مطمئن هستید که می‌خواهید این پرداخت را حذف کنید؟</h4>
                    <p>{{ payment.policy.policy_type }} - {{ payment.payment_date }}</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger float-right">حذف</button>
                        <a href="{% url 'payment-list' %}" class="btn btn-secondary float-left">لغو</a>
                    </form>
                 </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}