{% extends 'base.html' %}

{% block title %}لیست پرداخت‌ها{% endblock %}

{% block content %}
<div class="container-fluid" dir="rtl">
    <h1 class="text-center">لیست پرداخت‌ها</h1>
    <hr>
<a href="{% url 'payment-create' %}" class="btn btn-primary mb-3 float-right">پرداخت جدید</a>
<table class="table table-bordered bg-white text-center">
    <thead>
        <tr class="bg-info text-white">
            <th>بیمه‌نامه</th>
            <th>تاریخ پرداخت</th>
            <th>مبلغ</th>
            <th>روش پرداخت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.policy.policy_type }}</td>
            <td>{{ payment.payment_date }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.get_payment_method_display }}</td>
            <td>
                <a href="{% url 'payment-update' payment.id %}" class="btn btn-sm btn-warning">ویرایش</a>
                <a href="{% url 'payment-delete' payment.id %}" class="btn btn-sm btn-danger">حذف</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">اولین صفحه</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> صفحه قبل</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link">صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</a></li>
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">صفحه بعد</a></li>
    <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">آخرین صفحه</a></li>
    {% endif %}
    
</ul>
</div>

{% endblock %}